/*Style Sheet for Home Page */
body {
	background-color: #000000;

}

/*le-orange
kl-dark teal
je- teal
es-yellow*/

/*video css*/
.video { display:inline-block;
vertical-align: center;
height: auto;
width: auto; 
 }